.homeContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 20px 60px;
}

.homeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.homeTitle {
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  z-index: 10;
}
